@{
  Layout = null;
}
@model TcServer.Views.Employee.Index.ViewData
@using TcServer.Views.Employee.Index
@using TcServer.Storage.Core
@using System.Text.Encodings.Web

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/main.css">
  <link rel="stylesheet" href="~/css/scroll-table.css">
  <link rel="stylesheet" href="~/css/input-date.css">
  <link rel="stylesheet" href="~/css/dropdown.css">
  <link rel="stylesheet" href="~/css/utility.css">
  <link rel="stylesheet" href="~/css/context-menu.css">
  <link rel="stylesheet" href="~/css/employee.css">
  <title>Сотрудник</title>
</head>
<body>
  <div class="flex-row" id="main-hdr">
    <a href='/schedule'><b>На главную</b></a>
    <a href='/devices?compname=@Model.Company.Name'>Терминалы</a>
    <a href='/workshifts?compname=@Model.Company.Name'>Рабочие смены</a>
    <a href='/company?compname=@Model.Company.Name'>Организация</a>
  </div>
  <div class="plate" id="main-c">
    <div class="inset97 flex-row">
      <div class="list1">
        <div style="padding: 5px;">
          <div class="flex-row" style="margin-bottom: 10px;">
            <div class="flex-row">
              <div class="chdr-ovl">
                <h3 class="chdr">Сотрудник @Model.Employee.InnerCompId</h3>
              </div>
            </div>
            <button id="settings-save-btn" onclick="saveChanges()" class="btn-inactive rightpos">Сохранить</button>
          </div>
          <div class="flex-col">
            <div class="flex-row">
              <div class="fc">Имя</div>
              <div class="sc">
                @Model.Employee.Name
                @* <input type="text" id="empl-name" class="inline-text-input" value='@Model.Employee.Name' oninput="highlightSaveBtn()" autocomplete="off"> *@
              </div>
            </div>
            <div class="row-br"></div>
            <div class="flex-row">
              <div class="fc">Должность</div>
              <div class="sc">
                <input type="text" id="empl-jobtitle" class="inline-text-input" value='@(Model.Employee.JobTitle ?? "")' oninput="highlightSaveBtn()" autocomplete="off">
              </div>
            </div>
            <div class="row-br"></div>
            <div class="flex-row">
              <div class="fc">Домашний адрес</div>
              <div class="sc">
                <input type="text" id="empl-addr" class="inline-text-input" value='@(Model.Employee.HomeAddress ?? "")' oninput="highlightSaveBtn()" autocomplete="off">
              </div>
            </div>
            <div class="row-br"></div>
            <div class="flex-row">
              <div class="fc">Телефон</div>
              <div class="sc">
                <input type="text" id="empl-phone" class="inline-text-input" value='@(Model.Employee.Phone ?? "")' oninput="highlightSaveBtn()" autocomplete="off">
              </div>
            </div>
            <div class="row-br"></div>
            <div class="flex-row">
              <div class="fc">Номер карты</div>
              <div class="sc">
                <input type="text" id="empl-idcard" class="inline-text-input" value='@(Model.Employee.IdCard ?? "")' oninput="highlightSaveBtn()" autocomplete="off">
              </div>
            </div>
            <div class="row-br"></div>
            <div class="flex-row">
              <div class="fc">Уведомления WhatsApp</div>
              <div class="sc">
                <div class="checkbox-overlay middlepos">
                  <input type="checkbox" id="empl-notify" onclick="toggleNotifications()">
                </div>
              </div>
            </div>
            <div class="row-br"></div>
            <div class="flex-row">
              <div class="fc">Организация</div>
              <div class="sc">@Model.Company.Name</div>
            </div>
            <div class="row-br"></div>
            <div class="flex-row">
              <div class="fc">Фотографии</div>
              <div class="sc">@Model.OwnPhotos.Count</div>
            </div>
          </div>
          @{ var ophotos = Model.OwnPhotos; }
          @if (ophotos.Count > 0)
          {
          <div class="chdr-ovl">
            <h3 class="chdr" style="margin-top: 15px;">Распознанные фотографии</h3>
          </div>
          <table>
            <tbody>
              @for (int row = 0; row != ophotos.Count / 3; ++row)
              {
              <tr>
                <td class="tc">
                  <img src="/img/id?id=@(ophotos[row * 3])" class="imgsel">
                </td>
                <td class="tc">
                  <img src="/img/id?id=@(ophotos[row * 3 + 1])" class="imgsel">
                </td>
                <td class="ec">
                  <img src="/img/id?id=@(ophotos[row * 3 + 2])" class="imgsel">
                </td>
              </tr>
              }
              @if ((ophotos.Count % 3) == 1)
              {
              <tr>
                <td class="tc">
                  <img src="/img/id?id=@(ophotos[ophotos.Count - 1])" class="imgsel">
                </td>
                <td class="tc"></td>
                <td class="ec"></td>
              </tr>
              }
              else if ((ophotos.Count % 3 == 2))
              {
              <tr>
                <td class="tc">
                  <img src="/img/id?id=@(ophotos[ophotos.Count - 2])" class="imgsel">
                </td>
                <td class="tc">
                  <img src="/img/id?id=@(ophotos[ophotos.Count - 1])" class="imgsel">
                </td>
                <td class="ec"></td>
              </tr>
              }
            </tbody>
          </table>
          }
        </div>
      </div>
      @{ var sphotos = Model.StrangerPhotos; }
      @if (sphotos.Count > 0)
      {
      <div id="ftab1cc" class="plate stpad list1 expandev" style="margin-left: 5px;">
        <div class="flex-row">
          <div class="ptrhover" id="fold1">
            <div class="chdr-ovl">
              <h3 class="chdr">Нераспознанные фотографии</h3>
            </div>
          </div>
          <button class="rightpos" onclick="addSelectedPhotos()">Добавить фото</button>
        </div>
        <div id="ftab1c" class="openev">
          <table id="ftab1" class="hideev">
            <tbody>
              @for (int row = 0; row != sphotos.Count / 3; ++row)
              {
              <tr>
                <td class="tc">
                  <img src="/img/id?id=@(sphotos[row * 3])" data-value="@(sphotos[row * 3])" class="imgsel">
                </td>
                <td class="tc">
                  <img src="/img/id?id=@(sphotos[row * 3 + 1])" data-value="@(sphotos[row * 3 + 1])" class="imgsel">
                </td>
                <td class="ec">
                  <img src="/img/id?id=@(sphotos[row * 3 + 2])" data-value="@(sphotos[row * 3 + 2])" class="imgsel">
                </td>
              </tr>
              }
              @if ((sphotos.Count % 3) == 1)
              {
              <tr>
                <td class="tc">
                  <img src="/img/id?id=@(sphotos[sphotos.Count - 1])" data-value="@(sphotos[sphotos.Count - 1])" class="imgsel">
                </td>
                <td class="tc"></td>
                <td class="ec"></td>
              </tr>
              }
              else if ((sphotos.Count % 3 == 2))
              {
              <tr>
                <td class="tc">
                  <img src="/img/id?id=@(sphotos[sphotos.Count - 2])" data-value="@(sphotos[sphotos.Count - 2])" class="imgsel">
                </td>
                <td class="tc">
                  <img src="/img/id?id=@(sphotos[sphotos.Count - 1])" data-value="@(sphotos[sphotos.Count - 1])" class="imgsel">
                </td>
                <td class="ec"></td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      }
    </div>
  </div>
</body>

<script>
  document.getElementById("empl-notify").checked = @(Model.Employee.Notify == Employee.NotifyMode.EnableWhatsApp ? "true" : "false");
  const companyId = @Model.Company.Id;
  const employeeId = @Model.Employee.InnerCompId;
  const emplId = @Model.Employee.Id;
  const compName = decodeURIComponent('@(JavaScriptEncoder.Default.Encode(Model.Company.Name))');
</script>

<script src="~/js/dropdown.js"></script>
<script src="~/js/ctxmenu.js"></script>
<script src="~/js/employee.js"></script>

</html>
