@{
  Layout = null;
  
  // todo localization
  var weekDays = new string[]
  {
    "Пн",
    "Вт",
    "Ср",
    "Чт",
    "Пт",
    "Сб",
    "Вс"
  };
}

@model TcServer.Views.WorkShifts.Index.ViewData
@using TcServer.Views.WorkShifts
@using TcServer.Utility
@using System.Text.Encodings.Web

<!DOCTYPE html>
<html lang="en" style="overflow: hidden">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/scroll-table.css">
  <link rel="stylesheet" href="~/css/input-date.css">
  <link rel="stylesheet" href="~/css/dropdown.css">
  <link rel="stylesheet" href="~/css/context-menu.css">
  <link rel="stylesheet" href="~/css/utility.css">
  <link rel="stylesheet" href="~/css/main.css">
  <link rel="stylesheet" href="~/css/workshifts.css">
  <title>Рабочие смены</title>
</head>
<body style="margin: 0; height: 100vh;">
  <div class="inset">
    <div class="plate">
      <div class="inset">
        <div class="flex-col">
          <div class="flex-row" style="margin-bottom: 5px;">
            <button id="workshift-add-btn">Добавить</button>
            <button onclick="deleteSelected()" style="margin-left: 5px;">Удалить</button>
            <button onclick="toMainPage()" class="rightpos">На главную</button>
          </div>
          <div class="plate">
            <div class="inset">
              <div class="flex-col">
                <div class="scroll-table flex-col">
                  <table class="scroll-table-head">
                    <thead>
                      <tr>
                        <th class="st-title-column">Должность</th>
                        @foreach (string wd in weekDays)
                        {
                        <th class="st-time-column">@wd</th>
                        }
                        <th class="st-time-column">Начало действия</th>
                        <th class="st-time-column">Конец действия</th>
                        <th class="st-actions-column">
                          <div class="checkbox-overlay middlepos">
                            <input type="checkbox" onclick="toggleSelection(this.checked)">
                          </div>
                        </th>
                      </tr>
                    </thead>
                  </table>
                  <div class="scroll-table-body">
                    <table>
                      <colgroup>
                        <col class="st-title-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-time-column">
                        <col class="st-actions-column">
                      </colgroup>
                      <tbody>
                      @foreach (var entry in Model.WorkShifts)
                      {
                        string jobTitle = entry.JobTitle;
                        if (jobTitle.Length == 0)
                          jobTitle = "(все)";
                        
                        <tr>
                          <td>@jobTitle</td> 
                          <td>
                            <div class="flex-col">
                              <p class="time-field">@DayTime.ToString(entry.MonArrive)</p>
                              <p class="time-field">@DayTime.ToString(entry.MonLeave)</p>
                            </div>
                          </td>
                          <td>
                            <div class="flex-col">
                              <p class="time-field">@DayTime.ToString(entry.TueArrive)</p>
                              <p class="time-field">@DayTime.ToString(entry.TueLeave)</p>
                            </div>
                          </td>
                          <td>
                            <div class="flex-col">
                              <p class="time-field">@DayTime.ToString(entry.WedArrive)</p>
                              <p class="time-field">@DayTime.ToString(entry.WedLeave)</p>
                            </div>
                          </td>
                          <td>
                            <div class="flex-col">
                              <p class="time-field">@DayTime.ToString(entry.ThuArrive)</p>
                              <p class="time-field">@DayTime.ToString(entry.ThuLeave)</p>
                            </div>
                          </td>
                          <td>
                            <div class="flex-col">
                              <p class="time-field">@DayTime.ToString(entry.FriArrive)</p>
                              <p class="time-field">@DayTime.ToString(entry.FriLeave)</p>
                            </div>
                          </td>
                          <td>
                            <div class="flex-col">
                              <p class="time-field">@DayTime.ToString(entry.SatArrive)</p>
                              <p class="time-field">@DayTime.ToString(entry.SatLeave)</p>
                            </div>
                          </td>
                          <td>
                            <div class="flex-col">
                              <p class="time-field">@DayTime.ToString(entry.SunArrive)</p>
                              <p class="time-field">@DayTime.ToString(entry.SunLeave)</p>
                            </div>
                          </td>
                          <td>@(entry.DateBegin ?? "")</td>
                          <td>@(entry.DateEnd ?? "")</td>
                          <td>
                            <div class="checkbox-overlay">
                              <input type="checkbox" name="shift-select" value="@(entry.InnerId)">
                            </div>
                          </td>
                        </tr>
                      }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ctxmenu shade-menu plate" id="workshift-add-menu">
    <div class="flex-col">
      <input type="text" class="text-input" id="jobtitle_ti" placeholder="Должность (все)">
      <div style="width: fit-content;">
      @{ int wdId = 0; }
      @foreach (string wd in weekDays)
      {
        ++wdId;
        <div class="flex-row daytime-row">
          <p class="inline-p daytime-name">@wd</p>
          <div class="flex-row daytime-range">
            <input type="text" id="dtti_@(wdId)b" class="ti-base daytime-ti" maxlength="5">
            <p class="inline-p">&mdash;</p>
            <input type="text" id="dtti_@(wdId)e" class="ti-base daytime-ti" maxlength="5">
          </div>
        </div>
      }
      </div>
      <div class="flex-row" style="margin-top: 15px;">
        <div class="flex-col">
          <label for="workshift-beg-di" class="di-label">Начало действия</label>
          <input type="date" id="workshift-beg-di">
        </div>
        <div class="flex-col" style="margin-left: 10px;">
          <label for="workshift-end-di" class="di-label">Конец действия</label>
          <input type="date" id="workshift-end-di">
        </div>
      </div>
      <button id="workshift-final-add-btn" onclick="addWorkshift()">Добавить</button>
    </div>
  </div>

  <div id="shade-overlay"></div>
</body>

<script>
  const compName = decodeURIComponent('@(JavaScriptEncoder.Default.Encode(Model.Company.Name))');
</script>

<script src="~/js/ctxmenu.js"></script>
<script src="~/js/workshifts.js"></script>

</html>